
## Success Conditions ## 

[OKSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 200
status = OK

[CreatedSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 201
status = Created

[SingleLocationHeaderSuccessCondition]
class =  greentest.condition.HeaderSuccessCondition
header = Location
min = 1
max = 1

[MultipleLocationHeaderSuccessCondition]
class =  greentest.condition.HeaderSuccessCondition
header = Location
min = 3
max = 3

## Data Generators ##

[SingleGreenXMLDataGenerator]
class = greentest.generator.GreenXMLDataGenerator

[MultipleGreenXMLDataGenerator]
class = greentest.generator.GreenXMLDataGenerator
numPackages = 3

## Tests ##

[AbstractGreenOvenTest]
class = greentest.test.AbstractTest
host = localhost
port = 8080
  
[AbstractPostSensorDataTest]
inherit = AbstractGreenOvenTest
path = /greenoven/api/Sensor.go.xml
requestType = POST
  
[SinglePostSensorDataTest]
inherit = AbstractPostSensorDataTest
description = Single Package Post Test
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\SingleGreenXMLDataGenerator

[GetResultsSinglePostDataTest]
inherit = AbstractGreenOvenTest
requestType = GET
parentTest = SinglePostSensorDataTest

[MultiplePostSensorDataTest]
inherit = AbstractPostSensorDataTest
description = Multiple (3) Package Post Test
successConditions = class-ref\{CreatedSuccessCondition,MultipleLocationHeaderSuccessCondition}
generator = class-ref\MultipleGreenXMLDataGenerator  
  
## Test Sets ##
  
[GreenOvenTestSet]
class = greentest.test.TestSet
tests = class-ref\{SinglePostSensorDataTest,MultiplePostSensorDataTest}
  
