  [BasicTest]
  class = greentest.test.AbstractTest
  description = Basic Check
  host = penguindreams.org
  path = /
  successConditions = class-ref\{OKSuccessCondition}
  requestType = GET
  
  [AbstractGreenOvenTest]
  class = greentest.test.AbstractTest
  host = localhost
  port = 8080
  
  [PostSensorDataTest]
  inherit = AbstractGreenOvenTest
  description = Sensor Post Test
  path = /greenoven/api/Sensor/1
  successConditions = class-ref\{OKSuccessCondition}
  requestType = POST
  generator = class-ref\GreenXMLDataGenerator
  
  [OKSuccessCondition]
  class = greentest.condition.OKSuccessCondition
  
  [SampleTestSet]
  class = greentest.test.TestSet
  tests = class-ref\{BasicTest}
  
  [GreenOvenTestSet]
  class = greentest.test.TestSet
  tests = class-ref\{PostSensorDataTest}
  
  [GreenXMLDataGenerator]
  class = greentest.generator.GreenXMLDataGenerator