
## Success Conditions ## 

[OKSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 200
status = OK

[CreatedSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 201
status = Created

[LocationHeaderSuccessCondition]
class =  greentest.condition.HeaderSuccessCondition
header = Location


## Data Generators ##

[GreenXMLDataGenerator]
class = greentest.generator.GreenXMLDataGenerator

## Tests ##

[AbstractGreenOvenTest]
class = greentest.test.AbstractTest
host = localhost
port = 8080
  
[PostSensorDataTest]
inherit = AbstractGreenOvenTest
description = Sensor Post Test
path = /greenoven/api/Sensor/1.go.xml
successConditions = class-ref\{CreatedSuccessCondition,LocationHeaderSuccessCondition}
requestType = POST
generator = class-ref\GreenXMLDataGenerator
  
## Test Sets ##
  
[GreenOvenTestSet]
class = greentest.test.TestSet
tests = class-ref\{PostSensorDataTest}
  
