[AggregateTests]
name = Aggregate Tests
inherit = AbstractTestSet
tests = class-ref\{SumVolumeDateRangeTests,SumVolumeTimestampRangeTests,AvgTempDateRangeTests,AvgTempTimestampRangeTests,AvgFlowDateRangeTests,AvgFlowTimestampRangeTests}

[AggregateMultiFormatBase]
inherit = AbstractMultiFormatTest
timeQueryPath = True
numColumns = 6

[SumVolumeDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Sum of Volumes for 1 Hour Intervals within Date Range
basePath = /bigsense/api/Aggregate/SumVolume/DateRange/%db/%da/60

[SumVolumeTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Sum of Volumes for 1 Hour Intervals within Timestamp Range
basePath = /bigsense/api/Aggregate/SumVolume/TimestampRange/%tsb/%tsa/60

[AvgTempDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Temperatures for 1 Hour Intervals within Date Range
basePath = /bigsense/api/Aggregate/AvgTemp/DateRange/%db/%da/60

[AvgTempTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Temperatures for 1 Hour Intervals within Timestamp Range
basePath = /bigsense/api/Aggregate/AvgTemp/TimestampRange/%tsb/%tsa/60

[AvgFlowDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Flow Rates for 1 Hour Intervals within Date Range
basePath = /bigsense/api/Aggregate/AvgFlow/DateRange/%db/%da/60

[AvgFlowTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Flow Rates for 1 Hour Intervals within Timestamp Range
basePath = /bigsense/api/Aggregate/AvgFlow/TimestampRange/%tsb/%tsa/60
