[AggregateTests]
name = Aggregate Tests
inherit = AbstractTestSet
tests = class-ref\{SumVolumeDateRangeTests,SumVolumeTimestampRangeTests,AvgTempDateRangeTests,AvgTempTimestampRangeTests,AvgFlowDateRangeTests,AvgFlowTimestampRangeTests}

[AggregateMultiFormatBase]
inherit = AbstractMultiFormatTest
timeQueryPath = True
numColumns = 7

[SumVolumeDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Sum of Volumes for 1 Hour Intervals within Date Range
basePath = /Aggregate/Sum/DateRange/%db/%da/60?SensorType=Volume

[SumVolumeTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Sum of Volumes for 1 Hour Intervals within Timestamp Range
basePath = /Aggregate/Sum/TimestampRange/%tsb/%tsa/60?SensorType=Volume

[AvgTempDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Temperatures for 1 Hour Intervals within Date Range
basePath = /Aggregate/Average/DateRange/%db/%da/60?SensorType=Temperature

[AvgTempTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Temperatures for 1 Hour Intervals within Timestamp Range
basePath = /Aggregate/Average/TimestampRange/%tsb/%tsa/60?SensorType=Temperature

[AvgFlowDateRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Flow Rates for 1 Hour Intervals within Date Range
basePath = /Aggregate/Average/DateRange/%db/%da/60?SensorType=FlowRate

[AvgFlowTimestampRangeTests]
inherit = AggregateMultiFormatBase
name = Aggregate: Average Flow Rates for 1 Hour Intervals within Timestamp Range
basePath = /Aggregate/Average/TimestampRange/%tsb/%tsa/60?SensorType=FlowRate
