[AggregateErrorTests]
inherit = AbstractTestSet
name = Aggregate Error Messages Tests
tests = class-ref\{AggregatePutTest,AggregateDeleteTest,AggregateInvalidArgumentsTest,InvalidAggregateFunctionTest,InvalidAggregateRangeTypeTest,InvalidAggregateTimestampTest,InvalidAggregateDateRangeTest,InvalidAggregateIntervalTest}

[AbstractAggregateMethodTest]
inherit = AbstractGreenOvenTest
path = /Aggregate
successConditions = class-ref\{MethodNotAllowedSuccessCondition,NotImplementedBodyTextCondition}

[AggregatePutTest]
description = Aggregate PUT Test
requestType = PUT
inherit = AbstractAggregateMethodTest

[AggregateDeleteTest]
description = Aggregate DELETE Test 
requestType = DELETE
inherit = AbstractAggregateMethodTest


[AggregateInvalidArgumentsTest]
description = Aggregate Invalid Arguments Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/SumVolume/DateRange/1/2.txt
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[InvalidAggregateFunctionTest]
description = Invalid Aggregate Function Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/FooVolume/1/2/3/4.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[InvalidAggregateRangeTypeTest]
description = Invalid Aggregate Range Type Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/AvgFlow/FoostampRange/1/2/3.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[InvalidAggregateDateRangeTest]
description = Invalid Aggregate Date Range Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/SumVolume/DateRange/A/B/3.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[InvalidAggregateTimestampTest]
description = Invalid Aggregate Timestamp Range Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/AvgTemp/TimestampRange/A/B/3.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[InvalidAggregateIntervalTest]
description = Invalid Aggregate Interval Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /Aggregate/SumVolume/TimestampRange/1/2/A.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}