#### Couplers ####
[PostToGetCouplerSingle]
class = greentest.coupler.PostToGetCoupler
locationHeader = 1
  
[PostToGetCouplerSecond]
class = greentest.coupler.PostToGetCoupler
locationHeader = 2

[PostToGetCouplerThird]
class  = greentest.coupler.PostToGetCoupler
locationHeader = 3  

[PostToGetCouplerSingleTab]
inherit = PostToGetCouplerSingle
format = txt
  
[PostToGetCouplerSecondTab]
inherit = PostToGetCouplerSecond
format = txt

[PostToGetCouplerThirdTab]
inherit = PostToGetCouplerThird
format = txt

[PostToGetCouplerSingleCSV]
inherit = PostToGetCouplerSingle
format = csv
  
[PostToGetCouplerSecondCSV]
inherit = PostToGetCouplerSecond
format = csv

[PostToGetCouplerThirdCSV]
inherit = PostToGetCouplerThird
format = csv