[SingleGreenXMLDataGenerator]
class = greentest.generator.OneWireXMLDataGenerator

[MultipleGreenXMLDataGenerator]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 3

[PhotoXMLDataGenerator]
class = greentest.generator.PhotoXMLDataGenerator
photoFile = photos/g4.2cm.jpg
numPackages = 1