[SingleGreenXMLDataGenerator]
class = greentest.generator.OneWireXMLDataGenerator

[MultipleGreenXMLDataGenerator]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 3

[PhotoXMLDataGenerator]
class = greentest.generator.PhotoXMLDataGenerator
photoFile = photos/g4.2cm.jpg
numPackages = 1

[LocationDataGeneratorZero]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationZero
location = { 'longitude': 39, 'latitude': 84, 'accuracy': 1, 'altitude': 100 }

[LocationDataGeneratorPlusTenMeters]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationTen
location = { 'longitude': 39.00007, 'latitude': 84.000073, 'accuracy': 1, 'altitude': 100 }

[LocationDataGeneratorPlusHundredMeters]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationHundred
location = { 'longitude': 39.00088, 'latitude': 84.000233, 'accuracy': 1, 'altitude': 100 }

[LocationDataGeneratorPlusThousandMeters]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationThousand
numPackages = 1
location = { 'longitude': 39.008990, 'latitude': 84.000000, 'accuracy': 1, 'altitude': 100 }