[OneRowSuccessCondition]
class = greentest.condition.NumberRowsSuccessCondition
numRows = 1
header = True

[ThreeRowsSuccessCondition]
class = greentest.condition.NumberRowsSuccessCondition
numRows = 3
header = True

[TwoTabColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 2
delimiter = tab

[TwoCommaColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 2
delimiter = comma

[SixTabColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 6
delimiter = tab

[SixCommaColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 6
delimiter = comma

[SevenTabColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 7
delimiter = tab

[SevenCommaColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 7
delimiter = comma

[EightTabColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 8
delimiter = tab

[EightCommaColumnsSuccessCondition]
class = greentest.condition.NumberColumnsSuccessCondition
numColumns = 8
delimiter = comma

[WellFormedXMLSuccessCondition]
class = greentest.condition.WellFormedXMLSuccessCondition

[HTMLResponseSuccessCondition]
class = greentest.condition.HTMLResponseSuccessCondition

[AbstractXMLRowSuccessCondition]
class = greentest.condition.NumberXMLElementsSuccessCondition
searchXPath = .//row

[ThreeXMLRowSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
numElements = 3

#%% Body String Search %%#

[IntegerBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Integer

[FormatBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Format

[ArgumentsBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Arguments

[NotImplementedBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Not Implemented

[RequiresBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Require

[NotAllowedBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Not Allowed

[InvalidBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Invalid

[UnknownBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Unknown

[NotSupportedBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Not Supported

[StatusBodyTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Status

[NoKeyFoundTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = No Key Found

[NoSignatureFoundTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = No Signature Found

[SingleModelsTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = single model

[SignatureVerificationFailedTextCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = Could not verify Signature