[LocationDataGeneratorNoLocation]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestNoLocation
numPackages = 1
location = { }

[LocationDataGeneratorLocationOnly]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationOnly
numPackages = 1
location = { 'latitude': 12, 'longitude': 13, 'altitude': 5 }

[LocationDataGeneratorDeltaOnly]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestDeltaOnly
numPackages = 1
location = { 'speed': 20.25, 'climb': 8.20, 'track': 130.5 }

[LocationDataGeneratorAccuracyOnly]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestAccuracyOnly
numPackages = 1
location = { 'longitude_error': 18.0, 'latitude_error': 20.2, 'altitude_error': 5.0, 'speed_error' : 12.0, 'track_error' : 10.0, 'climb_error' : 11.5 }

[LocationDataGeneratorAllNoClimbTrack]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestAllNoClimbTrack
numPackages = 1
location = { 'latitude': 12, 'longitude': 13, 'altitude': 5, 'speed': 20.25, 'climb': 8.20, 'track': 130.5, 'longitude_error': 18.0, 'latitude_error': 20.2, 'altitude_error': 5.0, 'speed_error' : 12.0 }