#%% Spacial Sensor Tests - POST %%#

[LocationTestSet]
inherit = AbstractTestSet
name = Location Tests
tests = class-ref\{LocationPostTestSet,LocationGetTestSet}

[LocationPostTestSet]
inherit = AbstractTestSet
name = Location Post Tests
tests = class-ref\{PostSensorDataWithLocationZeroTest,PostSensorDataWithLocationPlusTenMeters,PostSensorDataWithLocationPlusHundredMeters,PostSensorDataWithLocationPlusThousandMeters,PostSensorDataWithNegativeLong,PostSensorDataWithNegativeLat,PostSensorDataWithNegativeLongLat}

[LocationGetTestSet]
inherit = AbstractTestSet
name = Location Get Tests
tests = class-ref\{GetRadiusTest,GetRadiusPlusElevenMetersTest,GetRadiusPlusHundredOneMetersTest,GetRadiusPlusThousandOneMetersTest,GetNegativeLongitudeLatitudeTest,GetNegativeLongitudeTest,GetNegativeLatitudeTest}

[AbstractPostSensorDataWithLocationTest]
inherit = AbstractPostSensorDataTest
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}

[PostSensorDataWithLocationZeroTest]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Zero)
generator = class-ref\LocationDataGeneratorZero

[PostSensorDataWithLocationPlusTenMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Ten Meters)
generator = class-ref\LocationDataGeneratorPlusTenMeters

[PostSensorDataWithLocationPlusHundredMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Hundred Meters)
generator = class-ref\LocationDataGeneratorPlusHundredMeters

[PostSensorDataWithLocationPlusThousandMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Thousand Meters)
generator = class-ref\LocationDataGeneratorPlusThousandMeters

[PostSensorDataWithNegativeLong]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Longitude
generator = class-ref\LocationDataGeneratorNegativeLong

[PostSensorDataWithNegativeLat]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Latitude
generator = class-ref\LocationDataGeneratorNegativeLat

[PostSensorDataWithNegativeLongLat]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Longitude and Latitude
generator = class-ref\LocationDataGeneratorNegativeLongLat

#%% Spacial Sensor Tests - GET %%#

[GetRadiusTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1 Meter of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenAbsentCondition,GPSLocationHundredAbsentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r1
timeQueryPath = True

[GetRadiusPlusElevenMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 11 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredAbsentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r11
timeQueryPath = True

[GetRadiusPlusHundredOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 101 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredPresentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r101
timeQueryPath = True

[GetRadiusPlusThousandOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1001 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredPresentCondition,GPSLocationThousandPresentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r1001
timeQueryPath = True

[GetNegativeLongitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Longitude
successConditions = class-ref\{GPSLocationNegativeLatAbsentCondition,GPSLocationNegativeLongPresentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat12long-13r1
timeQueryPath = True

[GetNegativeLatitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Latitude
successConditions = class-ref\{GPSLocationNegativeLatPresentCondition,GPSLocationNegativeLongAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat-12long13r1
timeQueryPath = True

[GetNegativeLongitudeLatitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Longitude and Latitude
successConditions = class-ref\{GPSLocationNegativeLatLongPresentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat-12long-13r1
timeQueryPath = True