#%% Spacial Sensor Success Conditions %%#

[GPSLocationZeroPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationZeroJSON

[GPSLocationTenPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTenJSON

[GPSLocationHundredPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundredJSON

[GPSLocationThousandPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousandJSON

[GPSLocationTenAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTenJSON
present = False

[GPSLocationHundredAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundredJSON
present = False

[GPSLocationThousandAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousandJSON
present = False

[GPSLocationNegativeLatPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatJSON

[GPSLocationNegativeLongPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLongJSON

[GPSLocationNegativeLatLongPresentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLongJSON

[GPSLocationNegativeLatAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatJSON
present = False

[GPSLocationNegativeLongAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLongJSON
present = False

[GPSLocationNegativeLatLongAbsentConditionJSON]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLongJSON
present = False
