#%% Spacial Sensor Success Conditions %%#

[GPSLocationZeroPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationZero

[GPSLocationTenPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTen

[GPSLocationHundredPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundred

[GPSLocationThousandPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousand

[GPSLocationTenAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTen
present = False

[GPSLocationHundredAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundred
present = False

[GPSLocationThousandAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousand
present = False