#%% Spacial Sensor Success Conditions %%#

[GPSLocationZeroPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationZeroXML

[GPSLocationTenPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTenXML

[GPSLocationHundredPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundredXML

[GPSLocationThousandPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousandXML

[GPSLocationTenAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTenXML
present = False

[GPSLocationHundredAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundredXML
present = False

[GPSLocationThousandAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousandXML
present = False

[GPSLocationNegativeLatPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatXML

[GPSLocationNegativeLongPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLongXML

[GPSLocationNegativeLatLongPresentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLongXML

[GPSLocationNegativeLatAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatXML
present = False

[GPSLocationNegativeLongAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLongXML
present = False

[GPSLocationNegativeLatLongAbsentConditionXML]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLongXML
present = False
