#%% Spacial Sensor Success Conditions %%#

[GPSLocationZeroPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationZero

[GPSLocationTenPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTen

[GPSLocationHundredPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundred

[GPSLocationThousandPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousand

[GPSLocationTenAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationTen
present = False

[GPSLocationHundredAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationHundred
present = False

[GPSLocationThousandAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationThousand
present = False

[GPSLocationNegativeLatPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLat

[GPSLocationNegativeLongPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLong

[GPSLocationNegativeLatLongPresentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLong

[GPSLocationNegativeLatAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLat
present = False

[GPSLocationNegativeLongAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLong
present = False

[GPSLocationNegativeLatLongAbsentCondition]
class = greentest.condition.BodyTextSuccessCondition
searchText = GPSTestLocationNegativeLatLong
present = False