[LocationFieldsTestSet]
inherit = AbstractTestSet
name = Location Fields Tests
tests = class-ref\{LocationFieldsPostTestSet,LocationFieldsGetTestSet,LocationFieldsDataTestSet}

[LocationFieldsPostTestSet]
inherit = AbstractTestSet
name = Location Fields POST Tests
tests = class-ref\{PostSensorDataWithNoLocation,PostSensorDataWithLocationOnly,PostSensorDataWithAccuracyOnly,PostSensorDataWithDeltaOnly,PostSensorDataWithAllNoClimbTrack}

[LocationFieldsGetTestSet]
inherit = AbstractTestSet
name = Location Fields GET Tests
tests = class-ref\{GetSensorDataWithNoLocation,GetSensorDataWithLocationOnly,GetSensorDataWithAccuracyOnly,GetSensorDataWithDeltaOnly,GetSensorDataWithAllNoClimbTrack}

[LocationFieldsDataTestSet]
inherit = AbstractTestSet
name = Location Fields Data Comparison Tests
tests = class-ref\{GetEmptyTrackClimbError,GetDataWithDeltaOnly,GetDataWithAccuracyOnly,GetDataWithLocationOnly}

[PostSensorDataWithNoLocation]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With No Location
generator = class-ref\LocationDataGeneratorNoLocation

[PostSensorDataWithLocationOnly]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location Only
generator = class-ref\LocationDataGeneratorLocationOnly

[PostSensorDataWithAccuracyOnly]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Accuracy Only
generator = class-ref\LocationDataGeneratorAccuracyOnly

[PostSensorDataWithAllNoClimbTrack]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location, Delta, Accuracy with no Climb Track
generator = class-ref\LocationDataGeneratorAllNoClimbTrack

[PostSensorDataWithDeltaOnly]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Delta Only
generator = class-ref\LocationDataGeneratorDeltaOnly

[GetSensorDataWithNoLocation]
inherit = AbstractGetResultsFromPostDataTest
description = Get Sensor Data with No Location
couplers = class-ref\{PostToGetCouplerSingle}
parentTest = class-ref\PostSensorDataWithNoLocation
successConditions = class-ref\{GPSXMLAbsentSuccessCondition}

[GetSensorDataWithLocationOnly]
inherit = AbstractGetResultsFromPostDataTest
description = Get Sensor Data with Location Only
couplers = class-ref\{PostToGetCouplerSingle}
parentTest = class-ref\PostSensorDataWithLocationOnly
successConditions = class-ref\{LocationXMLExistsSuccessCondition,AccuracyXMLAbsentSuccessCondition,DeltaXMLAbsentSuccessCondition}

[GetSensorDataWithAccuracyOnly]
inherit = AbstractGetResultsFromPostDataTest
description = Get Sensor Data with Accuracy Only
couplers = class-ref\{PostToGetCouplerSingle}
parentTest = class-ref\PostSensorDataWithAccuracyOnly
successConditions = class-ref\{LocationXMLAbsentSuccessCondition,AccuracyXMLExistsSuccessCondition,DeltaXMLAbsentSuccessCondition}

[GetSensorDataWithDeltaOnly]
inherit = AbstractGetResultsFromPostDataTest
description = Get Sensor Data with Delta Only
couplers = class-ref\{PostToGetCouplerSingle}
parentTest = class-ref\PostSensorDataWithDeltaOnly
successConditions = class-ref\{LocationXMLAbsentSuccessCondition,AccuracyXMLAbsentSuccessCondition,DeltaXMLExistsSuccessCondition}

[GetSensorDataWithAllNoClimbTrack]
inherit = AbstractGetResultsFromPostDataTest
description = Get Sensor Data with Location, Delta, Accuracy with no Climb Track
couplers = class-ref\{PostToGetCouplerSingle}
parentTest = class-ref\PostSensorDataWithAllNoClimbTrack
successConditions = class-ref\{LocationXMLExistsSuccessCondition,AccuracyXMLExistsSuccessCondition,DeltaXMLExistsSuccessCondition}

[GetEmptyTrackClimbError]
description = Ensure ClimbError/TrackError are Empty for GPSTestAllNoClimbTrack
inherit = AbstractGreenOvenTest
parentTest = class-ref\PostSensorDataWithAllNoClimbTrack
couplers = class-ref\{LocationPostToGetCoupler}

[GetDataWithDeltaOnly]
description = Deltas are Correct for GPSTestDeltaOnly
inherit = AbstractGreenOvenTest
parentTest = class-ref\PostSensorDataWithDeltaOnly
couplers = class-ref\{LocationPostToGetCoupler}

[GetDataWithAccuracyOnly]
description = Accuracy are Correct for GPSTestAccuracyOnly
inherit = AbstractGreenOvenTest
parentTest = class-ref\PostSensorDataWithAccuracyOnly
couplers = class-ref\{LocationPostToGetCoupler}

[GetDataWithLocationOnly]
description = Location are Correct for GPSTestLocationOnly
inherit = AbstractGreenOvenTest
parentTest = class-ref\PostSensorDataWithLocationOnly
couplers = class-ref\{LocationPostToGetCoupler}