#%% Spacial Sensor Tests - POST %%#

[LocationTestSet]
inherit = AbstractTestSet
name = Location Tests
tests = class-ref\{LocationPostTestSet,LocationGetTestSet}

[LocationPostTestSet]
inherit = AbstractTestSet
name = Location Post Tests
tests = class-ref\{PostSensorDataWithLocationZeroTest,PostSensorDataWithLocationPlusTenMeters,PostSensorDataWithLocationPlusHundredMeters,PostSensorDataWithLocationPlusThousandMeters}

[LocationGetTestSet]
inherit = AbstractTestSet
name = Location Get Tests
tests = class-ref\{GetRadiusTest,GetRadiusPlusElevenMetersTest,GetRadiusPlusHundredOneMetersTest,GetRadiusPlusThousandOneMetersTest}

[AbstractPostSensorDataWithLocationTest]
inherit = AbstractPostSensorDataTest
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}

[PostSensorDataWithLocationZeroTest]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Zero)
generator = class-ref\LocationDataGeneratorZero

[PostSensorDataWithLocationPlusTenMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Ten Meters)
generator = class-ref\LocationDataGeneratorPlusTenMeters

[PostSensorDataWithLocationPlusHundredMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Hundred Meters)
generator = class-ref\LocationDataGeneratorPlusHundredMeters

[PostSensorDataWithLocationPlusThousandMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Hundred Meters)
generator = class-ref\LocationDataGeneratorPlusHundredMeters

## [PostSensorDataWithoutLocationTest]

#%% Spacial Sensor Tests - POST %%#

[GetRadiusTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1 Meter of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenAbsentCondition,GPSLocationHundredAbsentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=x39y84r1
timeQueryPath = True

[GetRadiusPlusElevenMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 11 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredAbsentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=x39y84r11
timeQueryPath = True

[GetRadiusPlusHundredOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 101 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredPresentCondition,GPSLocationThousandAbsentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=x39y84r101
timeQueryPath = True

[GetRadiusPlusThousandOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1001 Meters of Zero
successConditions = class-ref\{GPSLocationZeroPresentCondition,GPSLocationTenPresentCondition,GPSLocationHundredPresentCondition,GPSLocationThousandPresentCondition}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=x39y84r1001
timeQueryPath = True
