[LocationDataJSONGeneratorZero]
class = greentest.generator.OneWireJSONDataGenerator
numPackages = 1
name = GPSTestLocationZeroJSON
location = { 'latitude': 39, 'longitude': 84, 'altitude': 100 }

[LocationDataJSONGeneratorPlusTenMeters]
class = greentest.generator.OneWireJSONDataGenerator
numPackages = 1
name = GPSTestLocationTenJSON
location = { 'latitude': 39.00007, 'longitude': 84.000073, 'altitude': 100 }

[LocationDataJSONGeneratorPlusHundredMeters]
class = greentest.generator.OneWireJSONDataGenerator
numPackages = 1
name = GPSTestLocationHundredJSON
location = { 'latitude': 39.00088, 'longitude': 84.000233, 'altitude': 100 }

[LocationDataJSONGeneratorPlusThousandMeters]
class = greentest.generator.OneWireJSONDataGenerator
name = GPSTestLocationThousandJSON
numPackages = 1
location = { 'latitude': 39.008990, 'longitude': 84.000000, 'altitude': 100 }

[LocationDataJSONGeneratorNegativeLong]
class = greentest.generator.OneWireJSONDataGenerator
name = GPSTestLocationNegativeLongJSON
numPackages = 1
location = { 'latitude': 12, 'longitude': -13, 'altitude': 5 }

[LocationDataJSONGeneratorNegativeLat]
class = greentest.generator.OneWireJSONDataGenerator
name = GPSTestLocationNegativeLatJSON
numPackages = 1
location = { 'latitude': -12, 'longitude': 13, 'altitude': 5 }

[LocationDataJSONGeneratorNegativeLongLat]
class = greentest.generator.OneWireJSONDataGenerator
name = GPSTestLocationNegativeLatLongJSON
numPackages = 1
location = { 'latitude': -12, 'longitude': -13, 'altitude': 5 }
