[LocationDataXMLGeneratorZero]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationZeroXML
location = { 'latitude': 39, 'longitude': 84, 'altitude': 100 }

[LocationDataXMLGeneratorPlusTenMeters]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationTenXML
location = { 'latitude': 39.00007, 'longitude': 84.000073, 'altitude': 100 }

[LocationDataXMLGeneratorPlusHundredMeters]
class = greentest.generator.OneWireXMLDataGenerator
numPackages = 1
name = GPSTestLocationHundredXML
location = { 'latitude': 39.00088, 'longitude': 84.000233, 'altitude': 100 }

[LocationDataXMLGeneratorPlusThousandMeters]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationThousandXML
numPackages = 1
location = { 'latitude': 39.008990, 'longitude': 84.000000, 'altitude': 100 }

[LocationDataXMLGeneratorNegativeLong]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationNegativeLongXML
numPackages = 1
location = { 'latitude': 12, 'longitude': -13, 'altitude': 5 }

[LocationDataXMLGeneratorNegativeLat]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationNegativeLatXML
numPackages = 1
location = { 'latitude': -12, 'longitude': 13, 'altitude': 5 }

[LocationDataXMLGeneratorNegativeLongLat]
class = greentest.generator.OneWireXMLDataGenerator
name = GPSTestLocationNegativeLatLongXML
numPackages = 1
location = { 'latitude': -12, 'longitude': -13, 'altitude': 5 }
