[GPSXMLAbsentSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps
numElements = 0

[LocationXMLExistsSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/location
numElements = 1

[AccuracyXMLExistsSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/accuracy
numElements = 1

[DeltaXMLExistsSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/delta
numElements = 1

[LocationXMLAbsentSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/location
numElements = 0

[AccuracyXMLAbsentSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/accuracy
numElements = 0

[DeltaXMLAbsentSuccessCondition]
inherit=AbstractXMLRowSuccessCondition
searchXPath = .//gps/delta
numElements = 0