#%% Spacial Sensor Tests - POST %%#

[LocationTestSet]
inherit = AbstractTestSet
name = Location Tests
tests = class-ref\{LocationPostTestSet,LocationGetTestSet}

[LocationPostTestSet]
inherit = AbstractTestSet
name = Location Post Tests (XML)
tests = class-ref\{PostSensorDataWithLocationZeroTest,PostSensorDataWithLocationPlusTenMeters,PostSensorDataWithLocationPlusHundredMeters,PostSensorDataWithLocationPlusThousandMeters,PostSensorDataWithNegativeLong,PostSensorDataWithNegativeLat,PostSensorDataWithNegativeLongLat}

[LocationGetTestSet]
inherit = AbstractTestSet
name = Location Get Tests (XML)
tests = class-ref\{GetRadiusTest,GetRadiusPlusElevenMetersTest,GetRadiusPlusHundredOneMetersTest,GetRadiusPlusThousandOneMetersTest,GetNegativeLongitudeLatitudeTest,GetNegativeLongitudeTest,GetNegativeLatitudeTest}

[AbstractPostSensorDataWithLocationTest]
inherit = AbstractPostSensorDataTestXML
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}

[PostSensorDataWithLocationZeroTest]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Zero) (XML)
generator = class-ref\LocationDataXMLGeneratorZero

[PostSensorDataWithLocationPlusTenMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Ten Meters) (XML)
generator = class-ref\LocationDataXMLGeneratorPlusTenMeters

[PostSensorDataWithLocationPlusHundredMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Hundred Meters) (XML)
generator = class-ref\LocationDataXMLGeneratorPlusHundredMeters

[PostSensorDataWithLocationPlusThousandMeters]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data With Location (Thousand Meters) (XML)
generator = class-ref\LocationDataXMLGeneratorPlusThousandMeters

[PostSensorDataWithNegativeLong]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Longitude (XML)
generator = class-ref\LocationDataXMLGeneratorNegativeLong

[PostSensorDataWithNegativeLat]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Latitude (XML)
generator = class-ref\LocationDataXMLGeneratorNegativeLat

[PostSensorDataWithNegativeLongLat]
inherit = AbstractPostSensorDataWithLocationTest
description = Post Sensor Data Negative Longitude and Latitude (XML)
generator = class-ref\LocationDataXMLGeneratorNegativeLongLat

#%% Spacial Sensor Tests - GET %%#

[GetRadiusTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1 Meter of Zero (XML)
successConditions = class-ref\{GPSLocationZeroPresentConditionXML,GPSLocationTenAbsentConditionXML,GPSLocationHundredAbsentConditionXML,GPSLocationThousandAbsentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r1
timeQueryPath = True

[GetRadiusPlusElevenMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 11 Meters of Zero (XML)
successConditions = class-ref\{GPSLocationZeroPresentConditionXML,GPSLocationTenPresentConditionXML,GPSLocationHundredAbsentConditionXML,GPSLocationThousandAbsentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r11
timeQueryPath = True

[GetRadiusPlusHundredOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 101 Meters of Zero (XML)
successConditions = class-ref\{GPSLocationZeroPresentConditionXML,GPSLocationTenPresentConditionXML,GPSLocationHundredPresentConditionXML,GPSLocationThousandAbsentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r101
timeQueryPath = True

[GetRadiusPlusThousandOneMetersTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data Within 1001 Meters of Zero (XML)
successConditions = class-ref\{GPSLocationZeroPresentConditionXML,GPSLocationTenPresentConditionXML,GPSLocationHundredPresentConditionXML,GPSLocationThousandPresentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat39long84r1001
timeQueryPath = True

[GetNegativeLongitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Longitude (XML)
successConditions = class-ref\{GPSLocationNegativeLatAbsentConditionXML,GPSLocationNegativeLongPresentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat12long-13r1
timeQueryPath = True

[GetNegativeLatitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Latitude (XML)
successConditions = class-ref\{GPSLocationNegativeLatPresentConditionXML,GPSLocationNegativeLongAbsentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat-12long13r1
timeQueryPath = True

[GetNegativeLongitudeLatitudeTest]
inherit = AbstractTimeQueryTest
description = Get Post Sensor Data with Negative Longitude and Latitude (XML)
successConditions = class-ref\{GPSLocationNegativeLatLongPresentConditionXML}
path = /Query/TimestampRange/%tsb/%tsa.txt?WithinMetersFrom=lat-12long-13r1
timeQueryPath = True
