[PhotoTestSets]
name = Photo Test Sets
inherit = AbstractTestSet
tests = class-ref\{2CMPhotoTest}

[2CMPhotoTest]
inherit = AbstractPostSensorDataTest
description = Single Photo Package Post Test
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\PhotoXMLDataGenerator