[QueryTests]
name = Query Test Sets
inherit = AbstractTestSet
tests = class-ref\{QueryRelaysTests,QuerySensorsTests,QueryLatestOneTest,QueryLatestThreeTest,QueryDateRangeTest,QueryTimeStampRangeTest}  


[QueryRelaysTests]
inherit = AbstractMultiFormatTest
basePath = /Query/Relays
name = Get List of Relays
numColumns = 2
unitsSupported = False
timezoneSupported = False

[QuerySensorsTests]
inherit = AbstractMultiFormatTest
basePath = /Query/Sensors
name = Get List of Sensors 
numColumns = 4
unitsSupported = False
timezoneSupported = False


[QueryLatestOneTest]
inherit = AbstractMultiFormatTest
basePath = /Query/Latest/1
name = Get Latest (1)
numColumns = 8
numRows = 1

[QueryLatestThreeTest]
inherit = AbstractMultiFormatTest
basePath = /Query/Latest/3
name = Get Latest (3)
numColumns = 8
numRows = 3

[QueryDateRangeTest]
inherit = AbstractMultiFormatTest
basePath = /Query/DateRange/%db/%da
name = Query Date Range 
numColumns = 8
timeQueryPath = True

[QueryTimeStampRangeTest]
inherit = AbstractMultiFormatTest
basePath = /Query/TimestampRange/%tsb/%tsa
name = Query Timestamp Range 
numColumns = 8
timeQueryPath = True

