#%% Correct Error Messages Tests (Queries) %%#

[QueryErrorTests]
inherit = AbstractTestSet
name = Query Error Messages Tests
tests = class-ref\{QueryPutTest,QueryDeleteTest,QueryNoLimitTest,QueryIntegerLimitTest,QueryTimeStampRequiredTest,QueryTimeStampInvalidTest,DateRangeRequiredTest,DateRangeInvalidFormatTest,DateRangeInvalidDatesTest,RelaysNoArgumentTest,SensorsNoArgumentsTest}

[AbstractQueryMethodTest]
inherit = AbstractGreenOvenTest
path = /bigsense/api/Query.txt
successConditions = class-ref\{MethodNotAllowedSuccessCondition,NotImplementedBodyTextCondition}

[QueryPutTest]
description = Query PUT Test
requestType = PUT
inherit = AbstractQueryMethodTest

[QueryDeleteTest]
description = Query DELETE Test 
requestType = DELETE
inherit = AbstractQueryMethodTest


[QueryNoLimitTest]
description = Query GET Latest without Limit Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/Latest.txt
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[QueryIntegerLimitTest]
description = Query GET Latest with non-Integer Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/Latest/AABB.txt
successConditions = class-ref\{BadRequestSuccessCondition,IntegerBodyTextCondition}

[QueryTimeStampRequiredTest]
description = Query GET Missing Timestamp Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/TimestampRange/11111.txt
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[QueryTimeStampInvalidTest]
description = Query GET Invalid Timestamp Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/TimestampRange/ABABAB/12BC12.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[DateRangeRequiredTest]
description = Query GET Missing DateRange Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/DateRange/11111.txt
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[DateRangeInvalidFormatTest]
description = Query GET Bad Format DateRange Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/DateRange/YYYYMMDD/YYYYMMDD.txt
successConditions = class-ref\{BadRequestSuccessCondition,FormatBodyTextCondition}

[DateRangeInvalidDatesTest]
description = Query GET Invalid DateRange Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/DateRange/-5/99999999.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[RelaysNoArgumentTest]
description = Query GET Relays No Argument Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/Relays/AA.txt
successConditions = class-ref\{BadRequestSuccessCondition,ArgumentsBodyTextCondition}


[SensorsNoArgumentsTest]
description = Query GET Sensors No Argument Test
requestType = GET
inherit = AbstractQueryMethodTest
path = /bigsense/api/Query/Sensors/AA.txt
successConditions = class-ref\{BadRequestSuccessCondition,ArgumentsBodyTextCondition}
