#Security Managers

[Security]
class = greentest.security.SignatureSecurityManager
keyFile = keys/BigSenseTester.key

[InvalidSecurity]
class = greentest.security.SignatureSecurityManager
keyFile = keys/Invalid.key

[DisabledSecurity]
class = greentest.security.DisabledSecurityManager


#Test Set

[SecurityTests]
name = Security Tests
inherit = AbstractTestSet
tests = class-ref\{SecurityInvalidKeyTest,SecurityNoSignatureTest,SecurityMultipleModelsTest}


#Tests for invalid signatures

[SecurityInvalidKeyTest]
description = Invalid Security Key Test
inherit = AbstractGreenOvenTest
path = /bigsense/api/Sensor.agra.xml
requestType = POST
security = class-ref\InvalidSecurity
successConditions = class-ref\{UnauthorizedSuccessCondition,SignatureVerificationFailedTextCondition}
generator = class-ref\SingleGreenXMLDataGenerator

[SecurityMultipleModelsTest]
description = Multiple Models Not Allowed Security Test
inherit = AbstractGreenOvenTest
path = /bigsense/api/Sensor.agra.xml
requestType = POST
successConditions = class-ref\{UnauthorizedSuccessCondition,SingleModelsTextCondition}
generator = class-ref\MultipleGreenXMLDataGenerator


[SecurityNoSignatureTest]
description = No Signature Security Test
inherit = AbstractGreenOvenTest
path = /bigsense/api/Sensor.agra.xml
requestType = POST
security = class-ref\DisabledSecurity
successConditions = class-ref\{UnauthorizedSuccessCondition,NoSignatureFoundTextCondition}
generator = class-ref\SingleGreenXMLDataGenerator
