#%% Sensor Tests - POST %%#

[AbstractPostSensorDataTestXML]
inherit = AbstractGreenOvenTest
path = /Sensor.sense.xml
requestType = POST

[AbstractPostSensorDataTestJSON]
inherit = AbstractGreenOvenTest
path = /Sensor.sense.json
requestType = POST

[SinglePostSensorDataTestXML]
inherit = AbstractPostSensorDataTestXML
description = Single Package Post Test (XML)
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\SingleGreenXMLDataGenerator

[SinglePostSensorDataTestJSON]
inherit = AbstractPostSensorDataTestJSON
description = Single Package Post Test (JSON)
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\SingleGreenJSONDataGenerator

#%% Sensor Tests - GET (verify) %%#

[AbstractGetResultsFromPostDataTest]
inherit = AbstractGreenOvenTest
requestType = GET

[AbstractGetResultsFromPostDataTestXML]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,WellFormedXMLSuccessCondition}

[AbstractGetResultsFromPostDataTestJSON]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,ValidJSONSuccessCondition}

[AbstractGetResultsFromPostDataTestTab]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,ThreeRowsSuccessCondition,SevenTabColumnsSuccessCondition}

[AbstractGetResultsFromPostDataTestCSV]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,ThreeRowsSuccessCondition,SevenCommaColumnsSuccessCondition}


[GetResultsSinglePostDataXMLTestXML]
inherit = AbstractGetResultsFromPostDataTestXML
description = Get Result From Single XML Post as sense.xml
parentTest = class-ref\SinglePostSensorDataTestXML
couplers = class-ref\{PostToGetCouplerSingleXML}

[GetResultsSinglePostDataXMLTestJSON]
inherit = AbstractGetResultsFromPostDataTestJSON
description = Get Result From Single XML Post as sense.json
parentTest = class-ref\SinglePostSensorDataTestXML
couplers = class-ref\{PostToGetCouplerSingleJSON}

[GetResultsSinglePostDataXMLTestTab]
inherit = AbstractGetResultsFromPostDataTestTab
description = Get Result From Single XML Post as TAB
parentTest = class-ref\SinglePostSensorDataTestXML
couplers = class-ref\{PostToGetCouplerSingleTab}

[GetResultsSinglePostDataXMLTestCSV]
inherit = AbstractGetResultsFromPostDataTestCSV
description = Get Result From Single XML Post as CSV
parentTest = class-ref\SinglePostSensorDataTestXML
couplers = class-ref\{PostToGetCouplerSingleCSV}

[GetResultsSinglePostDataJSONTestXML]
inherit = AbstractGetResultsFromPostDataTestXML
description = Get Result From Single JSON Post as sense.xml
parentTest = class-ref\SinglePostSensorDataTestJSON
couplers = class-ref\{PostToGetCouplerSingleXML}

[GetResultsSinglePostDataJSONTestJSON]
inherit = AbstractGetResultsFromPostDataTestJSON
description = Get Result From Single JSON Post as sense.json
parentTest = class-ref\SinglePostSensorDataTestJSON
couplers = class-ref\{PostToGetCouplerSingleJSON}

[GetResultsSinglePostDataJSONTestTab]
inherit = AbstractGetResultsFromPostDataTestTab
description = Get Result From Single JSON Post as TAB
parentTest = class-ref\SinglePostSensorDataTestJSON
couplers = class-ref\{PostToGetCouplerSingleTab}

[GetResultsSinglePostDataJSONTestCSV]
inherit = AbstractGetResultsFromPostDataTestCSV
description = Get Result From Single JSON Post as CSV
parentTest = class-ref\SinglePostSensorDataTestJSON
couplers = class-ref\{PostToGetCouplerSingleCSV}


#%% Correct Error Messages Tests (Sensors) %%#

[AbstractSensorMethodTest]
inherit = AbstractGreenOvenTest
path = /Sensor.go.xml
successConditions = class-ref\{MethodNotAllowedSuccessCondition,NotAllowedBodyTextCondition}

[SensorPutTest]
description = Sensor PUT Test
requestType = PUT
inherit = AbstractSensorMethodTest

[SensorDeleteTest]
description = Sensor DELETE Test
requestType = DELETE
inherit = AbstractSensorMethodTest

[SensorGetWithoutIDTest]
description = Sensor GET without ID Test
inherit = AbstractGreenOvenTest
requestType = GET
path = /Sensor.go.xml
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[SensorGetWithInvalidIDTest]
description = Sensor GET with Invalid ID Test
inherit = AbstractGreenOvenTest
requestType = GET
path = /Sensor/AABB.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[SensorInvalidMethodTest]
description = Sensor Invalid Method Test
inherit = AbstractGreenOvenTest
requestType = CLOSE
path = /Sensor.go.xml
successConditions = class-ref\{MethodNotAllowedSuccessCondition,UnknownBodyTextCondition}
