#%% Sensor Tests - POST %%#
  
[AbstractPostSensorDataTest]
inherit = AbstractGreenOvenTest
path = /bigsense/api/Sensor.agra.xml
requestType = POST
  
[SinglePostSensorDataTest]
inherit = AbstractPostSensorDataTest
description = Single Package Post Test
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\SingleGreenXMLDataGenerator

#%% Sensor Tests - GET (verify) %%#

[AbstractGetResultsFromPostDataTest]
inherit = AbstractGreenOvenTest
requestType = GET

[AbstractGetResultsFromPostDataTestXML]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,WellFormedXMLSuccessCondition}

[AbstractGetResultsFromPostDataTestTab]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,ThreeRowsSuccessCondition,SevenTabColumnsSuccessCondition}

[AbstractGetResultsFromPostDataTestCSV]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{OKSuccessCondition,ThreeRowsSuccessCondition,SevenCommaColumnsSuccessCondition}

[AbstractGetResultsFromPostDataTestFlatXML]
inherit = AbstractGetResultsFromPostDataTest
successConditions = class-ref\{NotSupportedBodyTextCondition,BadRequestSuccessCondition}

[GetResultsSinglePostDataTest]
inherit = AbstractGetResultsFromPostDataTestXML
description = Get Result From Single Post GO.XML
parentTest = class-ref\SinglePostSensorDataTest
couplers = class-ref\{PostToGetCouplerSingle}



[GetResultsSinglePostDataTestFlatXML]
inherit = AbstractGetResultsFromPostDataTestFlatXML
description = Get Result From Single Post FLAT.XML
parentTest = class-ref\SinglePostSensorDataTest
couplers = class-ref\{PostToGetCouplerSingleFlatXML}



[GetResultsSinglePostDataTestTab]
inherit = AbstractGetResultsFromPostDataTestTab
description = Get Result From Single Post TAB
parentTest = class-ref\SinglePostSensorDataTest
couplers = class-ref\{PostToGetCouplerSingleTab}



[GetResultsSinglePostDataTestCSV]
inherit = AbstractGetResultsFromPostDataTestCSV
description = Get Result From Single Post CSV 
parentTest = class-ref\SinglePostSensorDataTest
couplers = class-ref\{PostToGetCouplerSingleCSV}




#%% Correct Error Messages Tests (Sensors) %%#

[AbstractSensorMethodTest]
inherit = AbstractGreenOvenTest
path = /bigsense/api/Sensor.go.xml
successConditions = class-ref\{MethodNotAllowedSuccessCondition,NotAllowedBodyTextCondition}

[SensorPutTest]
description = Sensor PUT Test
requestType = PUT
inherit = AbstractSensorMethodTest

[SensorDeleteTest]
description = Sensor DELETE Test 
requestType = DELETE
inherit = AbstractSensorMethodTest

[SensorGetWithoutIDTest]
description = Sensor GET without ID Test
inherit = AbstractGreenOvenTest
requestType = GET
path = /bigsense/api/Sensor.go.xml
successConditions = class-ref\{BadRequestSuccessCondition,RequiresBodyTextCondition}

[SensorGetWithInvalidIDTest]
description = Sensor GET with Invalid ID Test
inherit = AbstractGreenOvenTest
requestType = GET
path = /bigsense/api/Sensor/AABB.txt
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[SensorInvalidMethodTest]
description = Sensor Invalid Method Test
inherit = AbstractGreenOvenTest
requestType = CLOSE
path = /bigsense/api/Sensor.go.xml
successConditions = class-ref\{MethodNotAllowedSuccessCondition,UnknownBodyTextCondition}