[StatusPageTests]
name = Status Page
inherit = AbstractTestSet
tests = class-ref\{StatusPageMainTest,StatusPageMainTestWithParameters,StatusPageInvalidFormatTest,StatusPageInvalidArgumentTest,StatusPageAjaxTest,StatusPageAjaxTestWithParameters,StatusPageAjaxInvalidArgumentTest,StatusPageAjaxInvalidFormatTest,StatusPageAjaxInvalidParameterTest}

[StatusPageMainTest]
inherit = AbstractGreenOvenTest
path = /Status
requestType = GET
description = Status Page Test
successConditions = class-ref\{HTMLResponseSuccessCondition,OKSuccessCondition,StatusBodyTextCondition}

[StatusPageMainTestWithParameters]
inherit = AbstractGreenOvenTest
path = /Status?threshold=20&refresh=20&_=20
requestType = GET
description = Status Page Test with Parameters
successConditions = class-ref\{HTMLResponseSuccessCondition,OKSuccessCondition,StatusBodyTextCondition}


[StatusPageInvalidFormatTest]
inherit = AbstractGreenOvenTest
path = /Status.txt
requestType = GET
description = Invalid Format Status Page Test
successConditions = class-ref\{BadRequestSuccessCondition,FormatBodyTextCondition}

[StatusPageInvalidArgumentTest]
inherit = AbstractGreenOvenTest
path = /Status/A
requestType = GET
description = Invalid requestType Status Page Test
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[StatusPageAjaxTest]
inherit = AbstractGreenOvenTest
path = /Status/ajaxStatusTable
description = Status Page Test (AJAX)
requestType = GET
successConditions = class-ref\{HTMLResponseSuccessCondition,OKSuccessCondition,StatusBodyTextCondition}

[StatusPageAjaxTestWithParameters]
inherit = AbstractGreenOvenTest
path = /Status/ajaxStatusTable?threshold=20&refresh=20&_=20
description = Status Page Test with Parameters (AJAX)
requestType = GET
successConditions = class-ref\{HTMLResponseSuccessCondition,OKSuccessCondition,StatusBodyTextCondition}

[StatusPageAjaxInvalidArgumentTest]
inherit = AbstractGreenOvenTest
path = /Status/ajaxStatusTable/A
requestType = GET
description = Invalid requestType Status Page Test (AJAX)
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}

[StatusPageAjaxInvalidFormatTest]
inherit = AbstractGreenOvenTest
path = /Status/ajaxStatusTable.txt
requestType = GET
description = Invalid Format Status Page Test (AJAX)
successConditions = class-ref\{BadRequestSuccessCondition,FormatBodyTextCondition}


[StatusPageAjaxInvalidParameterTest]
inherit = AbstractGreenOvenTest
path = /Status/ajaxStatusTable?foo=bar
requestType = GET
description = Invalid Parameter Status Page Test (AJAX)
successConditions = class-ref\{BadRequestSuccessCondition,InvalidBodyTextCondition}