[OKSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 200
status = OK

[CreatedSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 201
status = Created

[BadRequestSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 400
status = Bad Request

[MethodNotAllowedSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 405
status = Method Not Allowed

[UnauthorizedSuccessCondition]
class = greentest.condition.StatusSuccessCondition
code = 401
status = Unauthorized