#### Test Sets ####

[AbstractTestSet]
class = greentest.test.TestSet

[BigSenseMasterTestSet]
name = All BigSense Test Sets
inherit = AbstractTestSet
tests = class-ref\{SensorTests,StatusPageTests,ErrorMessagesTestSet,AggregateTests,QueryTests,SecurityTests}

[ErrorMessagesTestSet]
name = Error Messages Test Set
inherit = AbstractTestSet
tests = class-ref\{SensorErrorTests,QueryErrorTests,AggregateErrorTests,SensorGetWithInvalidIDTest,SensorInvalidMethodTest}
  
[SensorTests]
name = Sensor Action Tests
inherit = AbstractTestSet
tests = class-ref\{GetResultsSinglePostDataTest,GetResultsSinglePostDataTestCSV,GetResultsSinglePostDataTestTab,GetResultsSinglePostDataTestFlatXML}


[SensorErrorTests]
inherit = AbstractTestSet
name = Sensor Error Messages Tests
tests = class-ref\{SensorPutTest,SensorDeleteTest,SensorGetWithoutIDTest}
