[TimezoneTestSet]
name = Timezones
inherit = AbstractTestSet
tests = class-ref\{SensorTimezonePostDataJSON,SensorTimezonePostDataXML,GetKnownTimeResultUTCMultiFormatJSON,GetKnownTimeResultUTCMultiFormatXML,GetKnownTimeResultAucklandMultiFormatJSON,GetKnownTimeResultAucklandMultiFormatXML}

[KnownTimeJSONDataGenerator]
class = greentest.generator.OneWireJSONDataGenerator
timestamp = 1499839328918
name = KnownTimeTestJSON

[KnownTimeXMLDataGenerator]
class = greentest.generator.OneWireXMLDataGenerator
timestamp = 1499839328918
name = KnownTimeTestXML

[SensorTimezonePostDataJSON]
inherit = AbstractPostSensorDataTestJSON
description = POST Sensor Data for Specific Time (JSON)
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\KnownTimeJSONDataGenerator

[SensorTimezonePostDataXML]
inherit = AbstractPostSensorDataTestXML
description = POST Sensor Data for Specific Time (XML)
successConditions = class-ref\{CreatedSuccessCondition,SingleLocationHeaderSuccessCondition}
generator = class-ref\KnownTimeXMLDataGenerator

[GetKnownTimeResultUTCMultiFormatJSON]
inherit = AbstractMultiFormatTest
name = Get Timestamp for Known Time Test UTC (JSON)
baseTest = class-ref\AbstractGreenOvenTest
basePath = /Query/Latest/1?RelayID=KnownTimeTestJSON
numRows = 1
fieldValueMap = { 'TimeStamp' : '2017-07-12 06:02:08.918', 'TimeZone' : 'UTC' }

[GetKnownTimeResultUTCMultiFormatXML]
inherit = AbstractMultiFormatTest
name = Get Timestamp for Known Time Test UTC (XML)
baseTest = class-ref\AbstractGreenOvenTest
basePath = /Query/Latest/1?RelayID=KnownTimeTestXML
numRows = 1
fieldValueMap = { 'TimeStamp' : '2017-07-12 06:02:08.918', 'TimeZone' : 'UTC' }

[GetKnownTimeResultAucklandMultiFormatJSON]
inherit = AbstractMultiFormatTest
name = Get Timestamp for Known Time Test Auckland (JSON)
baseTest = class-ref\AbstractGreenOvenTest
basePath = /Query/Latest/1?RelayID=KnownTimeTestJSON&Timezone=Pacific/Auckland
numRows = 1
fieldValueMap = { 'TimeStamp' : '2017-07-12 18:02:08.918', 'TimeZone' : 'Pacific/Auckland' }

[GetKnownTimeResultAucklandMultiFormatXML]
inherit = AbstractMultiFormatTest
name = Get Timestamp for Known Time Test Auckland (XML)
baseTest = class-ref\AbstractGreenOvenTest
basePath = /Query/Latest/1?RelayID=KnownTimeTestXML&Timezone=Pacific/Auckland
numRows = 1
fieldValueMap = { 'TimeStamp' : '2017-07-12 18:02:08.918', 'TimeZone' : 'Pacific/Auckland' }
